
body{
	background:url("new.jpg") no-repeat; background-size:cover;
}
.btn{
  width: 50%;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

h1{
	color: white;
}
.main{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

input{
	background: none;
	border: 3px solid grey;
	height: 20px;
	width:250px;
	
}